<launch>
  <node pkg="rosserial_server" type="socket_node" name="rosserial_server_socket_node">
    <param name="msg_length_bytes" value="4"/>
    <param name="buffer_size" value="1000000"/>
  </node>
  <node pkg="rosserial_python" type="message_info_service.py" name="rosserial_message_info" />
</launch>
